/**
 * RESET
 */

html {
    height: 100%;
    font-size: 62.5%;
    background-color: #ececec;
}

body {
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ie6 .clearfix {
    display: inline-block;
}

.ie7 .clearfix {
    zoom: 1;
}

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address, fieldset {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style:none;
}

img, fieldset {
    border: 0;
}

input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

th {
    text-align: left;
}

a:focus {
    overflow: hidden;
}

/*
 * HEADER
 */

#hero-big {
    width: 100%;
    height: 100%;

    background: url(../images/hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-small {
    width: 100%;
    height: 50%;

    background: url(../images/hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#navbar {
    width: 95%;
    padding: 1rem 2.5%;
}

#navbar li {
    display: inline-block;
}

#left {
    float: left;
    width: 5rem;
}

#left img {
    height: 5rem;
}

#center {
    text-align: center;
}

#center li:not(:last-of-type) {
    margin-right: 10rem;   
}

.nav {
    line-height: 5rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

    color: white;
}

.nav:hover {
    color: #383838;
}

.nav-low {
    line-height: 5rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: #383838;
}

.nav-low:hover {
    color: #68ceb5;
}

#right {
    float: right;
}

#right a {
    line-height: 5rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #c93f3f;
}

#right a:hover {
    background-color: #68ceb5;
}

/*
 * REST OF HERO HOME
 */

h2 {
    margin-top: 12rem;
    text-align: center;

    font-size: 7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
}

#openBelgium {
    padding-top: 15rem;
}

#openBelgium img {
    display:block;
    margin:auto;

    height: 20%;
}

#time {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 20rem;
    line-height: 8rem;

    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
}

#time span {
    font-size: 8rem;
    vertical-align: text-top;
}

#time span:not(:first-of-type) {
    padding-left: 2.5rem;
}

#tickets {
    width: 100%;
    text-align: center;
}

#tickets a {
    padding: 1rem 2rem;

    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #c93f3f;
}

#tickets a:hover {
    background-color: #68ceb5;
}

#arrow-down {
    margin-top: 10rem;
}

#arrow-down img {
    display:block;
    margin:auto;

    width: 5%;
}

/*
 * SPEAKERS AND PROGRAMME
 */

#speakers-and-programme {
    width: 100%;
}

#speaker, #programme {
    position: relative;
    width: 50%;
    float: left;
}

#speaker a, #programme a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;

    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #383838;
}

#speaker a:hover, #programme a:hover {
    background-color: #68ceb5;
}

#speaker img {
    display: block;
    float: left;
    width: 33.32%;
    height: 33.32%;
}

#programme img {
    width: 100%;
}

/*
 * VIDEO HOMEPAGE
 */

#video {
    width: 100%;
}

#youtube {
   width: 50%;
   height: 50rem;

   display: block;
   margin: auto;
}

/*
 * SPEAKERS
 */

.container {
    width: 95%;
    margin: 5rem auto;
}

.speaker {
    float: left;
    width: 23.5%;
    margin-bottom: 3rem;
}

.speaker:not(:nth-child(4n)) {
    margin-right: 2%;
}

.flip-container {
    perspective: 1000;
    float: left;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 30rem;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    height: 30rem;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: relative;
    width: 100%;
    background-color: white;
    float: left;
}

.text {
    padding: 1rem 1rem 0rem 1rem;
}

/* front pane, placed above back */
.front {
    position: relative;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.info {
    padding-bottom: 3rem;
}

.info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #68ceb5;
}

.info p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.info a {
    width: 2rem;
    height: 2rem;
}

#company {
    margin-top: 0;
    font-weight: bold;
}

#linkedin {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/linkedin.png) 0 0;
}

#linkedin:hover {
    background: url(../images/linkedin.png) 0 -2rem;
}

#twitter {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/twitter.png) 0 0;
}

#twitter:hover {
    background: url(../images/twitter.png) 0 -2rem;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #68ceb5;
}

.back h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.back p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    word-break: break-all;
}

@media screen and (max-width: 1370px) {
    .speaker {
        width: 32%;
    }

    .speaker:not(:nth-child(4n)) {
        margin-right: 0;
    }

    .speaker:not(:nth-child(3n)) {
        margin-right: 2%;
    }
}

@media screen and (max-width: 1200px) {
    #center li:not(:last-of-type) {
        margin-right: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .speaker {
        width: 48%;
    }

    .speaker:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .speaker:not(:nth-child(2n)) {
        margin-right: 4%;
    }
}

@media screen and (max-width: 680px) {
    .speaker {
        width: 100%;
    }

    .speaker:not(:nth-child(2n)) {
        margin-right: 0;
    }
}