/**
 * RESET
 */

html {
    height: 100%;
    font-size: 62.5%;
    background-color: #ececec;
}

body {
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ie6 .clearfix {
    display: inline-block;
}

.ie7 .clearfix {
    zoom: 1;
}

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address, fieldset {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style:none;
}

img, fieldset {
    border: 0;
}

input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

th {
    text-align: left;
}

a:focus {
    overflow: hidden;
}

/*
 * HEADER
 */

#hero-big {
    width: 100%;
    height: 100%;

    background: url(../images/hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-small {
    width: 100%;
    height: 50%;

    background: url(../images/hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#navbar {
    width: 95%;
    padding: 1rem 2.5%;
}

#navbar li {
    display: inline-block;
}

#left {
    float: left;
    width: 5rem;
}

#left img {
    height: 5rem;
}

#center {
    text-align: center;
}

#center li:not(:last-of-type) {
    margin-right: 10rem;   
}

.nav {
    line-height: 5rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

    color: white;
}

.nav:hover {
    color: #383838;
}

.nav-low {
    line-height: 5rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: #383838;
}

.nav-low:hover {
    color: #68ceb5;
}

#right {
    float: right;
}

#right a {
    line-height: 5rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #c93f3f;
}

#right a:hover {
    background-color: #68ceb5;
}

/*
 * REST OF HERO HOME
 */

h2 {
    margin-top: 12rem;
    text-align: center;

    font-size: 7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
}

#openBelgium {
    padding-top: 15rem;
}

#openBelgium img {
    display:block;
    margin:auto;

    height: 20%;
}

#time {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 20rem;
    line-height: 8rem;

    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
}

#time span {
    font-size: 8rem;
    vertical-align: text-top;
}

#time span:not(:first-of-type) {
    padding-left: 2.5rem;
}

#tickets {
    width: 100%;
    text-align: center;
}

#tickets a {
    padding: 1rem 2rem;

    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #c93f3f;
}

#tickets a:hover {
    background-color: #68ceb5;
}

#arrow-down {
    margin-top: 10rem;
}

#arrow-down img {
    display:block;
    margin:auto;

    width: 5%;
}

/*
 * HOMEPAGE
 * speakers and programme
 */

#speakers-and-programme {
    width: 100%;
}

#speaker, #programme {
    position: relative;
    width: 50%;
    float: left;
}

#speaker a, #programme a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;

    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: white;
    background-color: #383838;
}

#speaker a:hover, #programme a:hover {
    background-color: #68ceb5;
}

#speaker img {
    display: block;
    float: left;
    width: 33.32%;
    height: 33.32%;
}

#programme img {
    width: 100%;
}

/*
 * VIDEO HOMEPAGE
 */

#video {
    width: 100%;
}

#youtube {
   width: 50%;
   height: 50rem;

   display: block;
   margin: auto;
}

/*
 * SPEAKERS
 */

.container {
    width: 95%;
    margin: 5rem auto;
}

.speaker {
    float: left;
    width: 23.5%;
    margin-bottom: 3rem;
}

.speaker:not(:nth-child(4n)) {
    margin-right: 2%;
}

.flip-container {
    perspective: 1000;
    float: left;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 30rem;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    height: 30rem;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: relative;
    width: 100%;
    background-color: white;
    float: left;
}

.text {
    padding: 1rem 1rem 0rem 1rem;
}

/* front pane, placed above back */
.front {
    position: relative;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.info {
    padding-bottom: 3rem;
}

.info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #68ceb5;
}

.info p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.info a {
    width: 2rem;
    height: 2rem;
}

#company {
    margin-top: 0;
    font-weight: bold;
}

#linkedin {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/linkedin.png) 0 0;
}

#linkedin:hover {
    background: url(../images/linkedin.png) 0 -2rem;
}

#twitter {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/twitter.png) 0 0;
}

#twitter:hover {
    background: url(../images/twitter.png) 0 -2rem;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #68ceb5;
}

.back h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.back p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    word-break: break-all;
}

/*
 * BLOG
 */

 #blog-container {
    text-align: center;
 }

.blog {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #68ceb5;

    margin: 2rem;
}

#latest {
    position: relative;
    width: 80%;
    margin: auto;
}

#latest img {
    width: 100%;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 30%;

    background-color: white;
}

.theme {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 1.5rem;
}

.blogpost-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 1.5rem;
}

.by {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.by span {
    color: #68ceb5;
}

#otherBlogposts {
    background-color: white;
    padding-top: 32rem;
    padding-bottom: 2rem;
    margin-top: -30rem;
}

.category {
    width: 80%;
    margin: auto;
}

.blogpost {
    float: left;
    width: 47.5%;
}

.blogpost img {
    width: 100%;
    margin-bottom: 1rem;
}

.blogpost:nth-child(2n+1) {
    margin-right: 5%;
}

/*
 * TIMETABLE
 */

.timetable {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.timetable::after {
    clear: both;
    content: "";
    display: table
}
.timetable *,
.timetable *:before,
.timetable *:after {
    box-sizing: inherit
}
.timetable ul,
.timetable li {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.timetable aside,
.timetable section {
    float: left
}
.timetable aside {
    width: 25%;
    padding: 0!important;
    margin-top: 46px;
    border-right: 5px solid transparent
}
.timetable aside li {
    padding: 0 15px;
    background-color: #EFEFEF;
    line-height: 46px
}
.timetable aside li:not(:last-of-type) {
    border-bottom: 1px solid #fff
}
.timetable aside .row-heading {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;

    font-size: 2rem;
    text-transform: uppercase;
}
.timetable ul {
    list-style-type: none;
    margin: 0
}
.timetable aside li,
.timetable time li {
    height: 46px
}
.timetable section {
    width: 75%;
    padding: 0!important;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}
.timetable section time {
    white-space: nowrap;
    display: inline-block
}
.timetable section header {
    height: 46px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-size: 0
}
.timetable section header::after {
    clear: both;
    content: "";
    display: table
}
.timetable section header li {
    display: inline-block;
    font-size: 1rem;
    overflow: visible;
    width: 0;
    line-height: 46px;
    display: inline-block;
    position: relative
}
.timetable section header li:not(:last-of-type) {
    width: 96px
}
.timetable section header li .time-label {
    display: block;
    position: absolute;
    left: 0
}
.timetable section header li:not(:first-of-type) .time-label {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.timetable section header li:last-of-type .time-label {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}
@media only screen and (max-width: 960px) {
    .timetable aside {
        width: 40%
    }
    .timetable section {
        width: 60%
    }
}
.timetable ul.room-timeline {
    border-left: none;
    position: relative;
    overflow: hidden
}
.timetable ul.room-timeline li {
    position: relative;
    background-color: #F4F4F4
}
.timetable ul.room-timeline li:nth-of-type(odd) {
    background-color: #FDFDFD
}
.timetable ul.room-timeline li:first-of-type {
    border-top: 1px solid #E5E5E5
}
.timetable ul.room-timeline li:last-of-type {
    border-bottom: 1px solid #E5E5E5
}
.timetable ul.room-timeline li:not(:last-of-type) {
    border-bottom: none
}
.timetable ul.room-timeline li:first-child .time-entry {
    height: 44px
}
.timetable ul.room-timeline li:after,
.timetable ul.room-timeline li:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}
.timetable ul.room-timeline li:before {
    background-image: linear-gradient(to right, #E5E5E5 1px, transparent 1px);
    background-size: 24px auto
}
.timetable ul.room-timeline li:after {
    background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 1px, #F4F4F4 1px, #F4F4F4 2px, #E5E5E5 2px, #E5E5E5 3px, transparent 3px, transparent);
    background-size: 96px auto;
    background-position: -2px 0
}
.timetable .time-entry {
    background-color: #68ceb5;
    transition: 200ms background-color;
    height: 45px;
    display: block;
    position: absolute;
    z-index: 2;
    padding: 0 10px;
    white-space: normal;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    border: 1px solid #5cb7a1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.timetable .time-entry small {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;

    font-size: 1.6rem;
}
.timetable .time-entry:hover {
    background-color: #383838;
}

@media screen and (max-width: 1370px) {
    .speaker {
        width: 32%;
    }

    .speaker:not(:nth-child(4n)) {
        margin-right: 0;
    }

    .speaker:not(:nth-child(3n)) {
        margin-right: 2%;
    }
}

@media screen and (max-width: 1200px) {
    #center li:not(:last-of-type) {
        margin-right: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .speaker {
        width: 48%;
    }

    .speaker:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .speaker:not(:nth-child(2n)) {
        margin-right: 4%;
    }
}

@media screen and (max-width: 680px) {
    .speaker {
        width: 100%;
    }

    .speaker:not(:nth-child(2n)) {
        margin-right: 0;
    }
}